@model Armor.Web.Models.AssessmentChecklistViewModel

@{
    ViewBag.Title = "Assessment Checklist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="registationProfileButton">
    <input type="button" value="Edit Profile" id="RegistrationButton" class="blue-action-button" />
</div>

<h2>@Model.user.FirstName @Model.user.LastName, MD</h2>
<h3>@Model.user.EmailAddress</h3>
<div class="seperator"></div>
<div class="spacer"></div>

<ul>
    <li>@Html.ActionLink("Pre-Assessment Questionnaire", "PreAssessment")<br />(complete before Intro Meeting)</li>
    <li>@Html.ActionLink("Program Evaluator Stage 1", "ProgramEvaluatorStage1")<br />(complete before Intro Meeting)</li>
    <li>Program Evaluator Stage 2<br />(complete after Intro Meeting)</li>
    <li>@Html.ActionLink("Patient Assessments", "PatientAssessment")<br />(complete from now until April 5)</li>
    <li>Program Evaluator Stage 3<br />(complete once all 25 patients have been assessed)</li>
</ul>

<div class="spacer"></div>
<div class="seperator"></div>

<script language="javascript" type="text/javascript">

    $(function () {
        $("#slidingPanel").slideUp();
    });

</script>