@model Armor.Web.Models.AssessmentChecklistViewModel

@{
    ViewBag.Title = "Assessment Checklist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="registationProfileButton">
    <input type="button" value="Edit Profile" id="RegistrationButton" class="blue-action-button" />
</div>
<div class="assessment padding"
<h2>@Model.user.FirstName @Model.user.LastName, MD</h2>
<h3>@Model.user.EmailAddress</h3>
<div class="seperator"></div>
<div class="spacer"></div>
<div class="checkBoxes">
    <div class="checkBox"><h4 class="blue">@Html.ActionLink("Pre-Assessment Questionnaire", "PreAssessment")</h4><h5 class="blue">(complete before Intro Meeting)</h5></div>
    <div class="checkBox"><h4 class="blue">@Html.ActionLink("Program Evaluator Stage 1", "ProgramEvaluatorStage1")</h4><h5 class="blue">(complete before Intro Meeting)</h5></div>
    <div class="checkBox"><h4 class="blue">Program Evaluator Stage 2</h4><h5 class="blue">(complete after Intro Meeting)</h5></div>
    <div class="checkBox"><h4 class="blue">@Html.ActionLink("Patient Assessments", "PatientAssessment")</h4><h5 class="blue">(complete from now until April 5)</h5></div>
    <div class="checkBox"><h4 class="blue">Program Evaluator Stage 3</h4><h5 class="blue">(complete once all 25 patients have been assessed)</h5></div>
</div>
<div class="spacer"></div>
<div class="seperator"></div>
</div>
<script language="javascript" type="text/javascript">

    $(function () {
        $("#slidingPanel").slideUp();
    });

</script>