@model Armor.Web.Models.PreAssessmentViewModel

@{
    ViewBag.Title = "Armor - Pre-Assessment Page 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/PreAssessment.js")" type="text/javascript"></script>

<div class="preassessment padding">
<h2>Pre-Assessment Questionnaire</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div style="overflow: hidden;">

        <div id="Section2" class="horizontalSlide" >
            <h3>Page 2 of 3</h3>
            <div class="editor-label">
                @*@Html.LabelFor(model => model.Question5ActiveSmoker)*@
                5. What percentage of these patients are:
            </div>
            <div class="editor-field">
            
                <label>Active smoker? @Html.EditorFor(model => model.Question5ActiveSmoker)</label><div class="percentage">%</div>
                @Html.ValidationMessageFor(model => model.Question5ActiveSmoker)
                <label>Ex-smoker? @Html.EditorFor(model => model.Question5ExSmoker)</label><div class="percentage">%</div>
                @Html.ValidationMessageFor(model => model.Question5ExSmoker)
                <label>Non-smoker @Html.EditorFor(model => model.Question5NonSmoker)</label><div class="percentage">%</div>
                @Html.ValidationMessageFor(model => model.Question5NonSmoker)
            </div>
        
            <div class="editor-label">
                @*@Html.LabelFor(model => model.Question6)*@
                6. What percentage of these patients are taking low-dose ASA (<300 mg/day) for CV protection?
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Question6)
                @Html.ValidationMessageFor(model => model.Question6)
            </div>

            <div class="editor-label">
                @*@Html.LabelFor(model => model.Question7)*@
                7. What percentage of these patients are taking a corticosteroid?
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Question7)
                @Html.ValidationMessageFor(model => model.Question7)
            </div>

            <div class="editor-label">
                @*@Html.LabelFor(model => model.Question8)*@
                8. What percentage of these patients are taking an anticoagulant medication?
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Question8)
                @Html.ValidationMessageFor(model => model.Question8)
            </div>
        </div>


    </div>
    <div class="submitButton">
        <input type="button" onclick="$(form).submit();" value="Next ->" />
    </div>
}
</div>