@model Armor.Web.Models.ProgramEvaluator1ViewModel

@{
    ViewBag.Title = "ProgramEvaluatorStage1.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="registationProfileButton">
    <input type="button" value="Edit Profile" id="RegistrationButton" class="blue-action-button" />
</div>


<h2>PROGRAM EVALUATOR</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
        <h4>Please rate your familiarity with the following:</h4>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Question1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question1, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question2, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question3, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question3)
        </div>

    
        <h4>Rate the following risk factors in terms of their importance in GI risk with NSAID use:</h4>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Question4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question4, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question5, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question6, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question7, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question8, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question9, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question10, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question11, "OneToTenInt")
            @Html.ValidationMessageFor(model => model.Question11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question12)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question12)
            @Html.ValidationMessageFor(model => model.Question12)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question13)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question13)
            @Html.ValidationMessageFor(model => model.Question13)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question14)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question14)
            @Html.ValidationMessageFor(model => model.Question14)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question14Other)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question14Other)
            @Html.ValidationMessageFor(model => model.Question14Other)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question15)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question15)
            @Html.ValidationMessageFor(model => model.Question15)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question15Other)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question15Other)
            @Html.ValidationMessageFor(model => model.Question15Other)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question16)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question16)
            @Html.ValidationMessageFor(model => model.Question16)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question17)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question17)
            @Html.ValidationMessageFor(model => model.Question17)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question17Other)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question17Other)
            @Html.ValidationMessageFor(model => model.Question17Other)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question18)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question18)
            @Html.ValidationMessageFor(model => model.Question18)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question18Other)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question18Other)
            @Html.ValidationMessageFor(model => model.Question18Other)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question19)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question19)
            @Html.ValidationMessageFor(model => model.Question19)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question20)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question20)
            @Html.ValidationMessageFor(model => model.Question20)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question20Percent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question20Percent)
            @Html.ValidationMessageFor(model => model.Question20Percent)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
}

<script language="javascript" type="text/javascript">

    $(function () {
        $("#slidingPanel").slideUp();
    });

</script>