<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/skeleton.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/layout.css")" rel="stylesheet" type="text/css" />
    <!--<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />-->
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    

    <script src="@Url.Content("~/Scripts/Armor.js")" type="text/javascript"></script>
    
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=640, initial-scale=0.5, maximum-scale=1" />


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4418557-32']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>



</head>




<body>
    @ViewRes.SharedString.Title
 <div class="container page">
  	<div class="header sixteen">
        <header>
            <div id="logindisplay">
                @Html.Action("_LogOnPartial", "Account", new { Area = "" })
            </div>
            <div id="title">
                <!--<h1>@Html.ActionLink("ARMOR", "index", "home")</h1>-->
                @*<img src="@Url.Content("~/Content/images/full_logo.png")"/>*@
                <a href='@Url.Action("index", "home")'>
                    <img src='@Url.Content("~/Content/images/full_logo.png")' />
                </a>
            </div>
            <ul class="language">
                <li>@Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnUrl = this.Request.RawUrl }, null)</li>
                <li>@Html.ActionLink("Français", "ChangeCulture", "Home", new { lang = "fr", returnUrl = this.Request.RawUrl }, null)</li>
            </ul>
                        
            <div class="seperator"></div>
        </header>
	</div>
    <div id="slidingPanel">
            @Html.Action("_SlidingPanel", "Account", new { Area = "" })
    </div>
    <section id="main">
        @RenderBody()
    </section>
    <footer>
    </footer>
</div>

</body>
</html>
