@model Armor.Web.Models.LogOnPartialModel

@if(Model.UserLoggedIn) {
    @*<text>Welcome <strong>@Model.user.FirstName @Model.user.LastName</strong>*@
   <div class="signoffButton">@Html.ActionLink(ViewRes.SharedString.SignOut, "LogOff", "Account", null, new { @class = "red" })</div>
}
else {
  <!--  <h2>Already have an account?</h2>
    @Html.ActionLink("Sign In", "Login", "Account", null, new { @class = "red fleft" })
    <div id="forgotPasswordText">
        <strong>Forgot your password?</strong><br />
        If you have forgotten your password, @Html.ActionLink("Click here", "ForgotPassword", "Account") and your password will be emailed to you
    </div> -->
    <br class="clear" />
}
