@model Armor.Web.Models.CreateAccountModel

<h1>@ViewRes.Account.Registration.Title</h1>
<h3>@ViewRes.Account.Registration.TopBlurb1</h3>
<h4>@ViewRes.Account.Registration.TopBlurb2</h4>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
	<div class="leftColumn">
        <legend>@ViewRes.Account.Registration.Title</legend>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.FirstName)*@
            @ViewRes.Account.Registration.Firstname
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @ViewRes.Account.Registration.LastName
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

 		<div class="editor-label">
            @ViewRes.Account.Registration.EmailAddress
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>
		
        <div class="editor-label">
            @ViewRes.Account.Registration.Password
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @ViewRes.Account.Registration.ConfirmPassword
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @ViewRes.Account.Registration.Phone
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @ViewRes.Account.Registration.Fax
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div>
</div>
<div class="rightColumn">
        <div class="editor-label">
            @ViewRes.Account.Registration.StreetAddress
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @ViewRes.Account.Registration.City
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>


        <div class="editor-label">
            @ViewRes.Account.Registration.Province
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Province, Model.Provinces, ViewRes.Account.Registration.ProvSelect)
            @Html.ValidationMessageFor(model => model.Provinces)
        </div>

        <div class="editor-label">
            @ViewRes.Account.Registration.PostalCode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>

        <div class="editor-label">
            @ViewRes.Account.Registration.GSTInformation
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GSTInformation)
            @Html.ValidationMessageFor(model => model.GSTInformation)
        </div>
<div class="submitButton">
            <input type="submit" value="@ViewRes.SharedString.Submit" class="green-action-button" />
			</div>
		</div>
    </fieldset>
}