@model Armor.Web.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="assessment padding">
    <h1>@ViewRes.Account.ForgotPassword.ForgotPass</h1>
    <p>@ViewRes.Account.ForgotPassword.Instructions</p>

    @Html.ValidationSummary("Please correct the following issues")
    @using (Html.BeginForm("forgotpassword", "account", FormMethod.Post)) {
        <fieldset class="forgotpassword">
            <p>@ViewRes.Account.ForgotPassword.EmailAddress
        
             @Html.TextBoxFor(model => model.EmailAddress)</p>
            <br style="clear:both;" />
            <p class="submit"><input type="submit" class="green-action-button" value="@ViewRes.Account.ForgotPassword.SendInstructions" /></p>
        </fieldset>
    }
</div>
